.tasks {
  &__title {
    color: #316378;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 30px;
    line-height: 39px;
    padding-bottom: 20px;
    border-bottom: 1px solid #23697c;
    cursor: pointer;
    &:hover {
      img {
        opacity: 0.4;
      }
    }
    &__edit-icon {
      opacity: 0;
      width: 20px !important;
      height: 20px !important;
      margin-left: 15px;
      vertical-align: middle;
    }
  }
  &__items {
    margin-top: 30px;
    h3 {
      font-family: Montserrat;
      font-weight: bold;
      font-size: 25px;
      color: #8fa2a7;
      text-align: center;
      margin-top: 192px;
    }
    &-row {
      display: flex;
      align-items: center;
    }
    input {
      width: 100%;
      background-color: #b2eaf9;
      border: 0;
      padding: 8px 12px;
      border-radius: 5px;
    }
  }
  .checkbox {
    padding: 8px 12px;
    input {
      display: none;
    }
    label {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid #b2eaf9;
      border-radius: 30px;
      width: 20px;
      height: 20px;
      cursor: pointer;
      transition: background-color 0.15s ease-in-out;
      svg {
        opacity: 0;
      }
    }
    input:checked + label {
      background-color: lightgreen;
      border-color: lightgreen;
      svg {
        opacity: 1;
        path {
          stroke: white;
        }
      }
    }
  }

  .checkbox:hover {
    label {
      svg {
        opacity: 1;
        path {
          stroke: wheat;
        }
      }
    }
  }
  .tasks-form {
    margin-top: 20px;
    &__new {
      display: flex;
      align-items: center;
      opacity: 0.8;
      padding: 8px 12px;
      cursor: pointer;
      span {
        font-size: 14px;
        opacity: 0.4;
        margin-left: 10px;
      }
      &:hover {
        span {
          opacity: 0.8;
        }
      }
    }
    &__block {
      text-align: right;
      .button {
        margin-right: 10px;
      }
      .field {
        margin-bottom: 15px;
      }
    }
  }
}
