:root {
  --scrollbarBg: #6dc4e1;
  --scrollbarThumb: #b2eaf9;
  --scrollbarWidth: 10px;
  --scrollbarBorder: 3px solid var(--scrollbarBg);
  --scrollbarBorderRadius: calc(var(--scrollbarWidth) / 2);
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  /*основная особенность outline – в том, что при наличии outline-offset 
  или без него – он не занимает места в блоке. Поэтому его часто используют 
  для стилей :hover и других аналогичных, когда нужно выделить элемент, но 
  чтобы ничего при этом не прыгало.*/
  outline: none;
  font-family: Roboto, -apple-system, system-ui, sans-serif;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.button,
.field,
.button-grey {
  padding: 8px 12px;
  border-radius: 5px;
}
.button,
.field {
  box-shadow: 0px 1px 5px #23697c;
}
.button {
  background-color: #6dc4e1;
  border: 0;
  &:hover {
    cursor: pointer;
    background: darken($color: #6dc4e1, $amount: 6);
  }
  &:active {
    transform: scale(0.97);
  }
  &:disabled {
    background-color: #f4f6f8;
    box-shadow: none;
    cursor: none;
    transform: none;
  }
}
.field {
  background-color: #b2eaf9;
  border: 1px solid #6dc4e1;
  box-sizing: border-box;
  &:focus {
    border-color: #b3e5f6;
    box-shadow: 1px 2px 10px #23697c;
    background-color: white;
  }
}
.button-grey {
  background-color: #b2eaf9;
  border: 0;
  box-shadow: 0px 1px 5px #23697c;
  &:hover {
    cursor: pointer;
    background: darken($color: #6dc4e1, $amount: 6);
  }
  &:active {
    transform: scale(0.97);
  }
  &:disabled {
    background-color: #f4f6f8;
    box-shadow: none;
    cursor: none;
    transform: none;
  }
}
