* {
  margin: 0;
  padding: 0;
  list-style: none;
  /*основная особенность outline – в том, что при наличии outline-offset 
  или без него – он не занимает места в блоке. Поэтому его часто используют 
  для стилей :hover и других аналогичных, когда нужно выделить элемент, но 
  чтобы ничего при этом не прыгало.*/
  outline: none;
  font-family: Roboto, -apple-system, system-ui, sans-serif;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.todo {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 750px;
  height: 530px;
  transform: translate(-50%, -50%);
  /*свойство transform позволяет вам поворачивать, масштабировать, наклонять 
  или сдвигать элемент. для любых элементов position: fixed; или position: absolute; 
  которые он содержит. все элементы, шаблоны которых регулируются блочной моделью CSS,
   кроме : неизменяемые инлайновые блоки, блоки таблица-колонка.
   translate(x,y) Сдвигает элемент на новое место, перемещая относительно обычного 
   положения вправо и вниз, используя координаты X и Y, не затрагивая при этом соседние 
   элементы. Если нужно сдвинуть элемент влево или вверх, то нужно использовать 
   отрицательные значения.*/
  background-color: #7adbf6;
  box-shadow: 1px 1px 20px #61dafb;
  border-radius: 10px;
  font-size: 15px;
  &__sidebar {
    width: 200px;
    height: 100%;
    border-right: 1px solid #f1f1f1;
    padding: 60px 20px;
  }
  &__list {
    li {
      display: flex;
      align-items: center;
      padding: 10px 12px;
      cursor: pointer;
      &.active {
        background-color: #61dafb;
        box-shadow: 0 1px 5px #39bfec;
        border-radius: 4px;
      }
      picture {
        &.iconTasks img {
          width: 35px;
          height: 35px;
          margin-right: 10px;
          opacity: 0.7;
          color: #7adbf6;
          border-radius: 50%;
        }
      }
    }
    li:first-child {
      margin-bottom: 5px;
    }
  }
}
